EDA(eksploratory data analysis)

In [74]:
import pandas as pd

In [75]:
dataframe = pd.read_csv(r'C:\Users\user\Documents\machine-learning\Data\hotel_bookings.csv')

In [76]:
dataframe

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [77]:
df_shape = pd.DataFrame([dataframe.shape], columns=['jumlah baris', 'jumlah kolom'])
df_shape

   jumlah baris  jumlah kolom
0        119390            32

In [78]:
dataframe.shape

(119390, 32)

function .head(parameter) -> dipandas untuk melihat data paling atas

In [79]:
dataframe.head(11)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.0,0,0,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,No Deposit,303.0,NaN,0,Transient,103.0,0,1,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.0,0,1,Canceled,2015-05-06
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.5,0,0,Canceled,2015-04-22
10,Resort Hotel,1,23,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,123.0,0,0,Canceled,2015-06-23

function .tail(parameter) -> membaca data dari bawah pada pandas

In [80]:
dataframe.tail(11)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
119379,City Hotel,0,109,2017,August,35,31,1,3,2,...,No Deposit,9.0,NaN,0,Transient,155.00,0,1,Check-Out,2017-09-04
119380,City Hotel,0,44,2017,August,35,31,1,3,2,...,No Deposit,9.0,NaN,0,Transient,140.75,0,1,Check-Out,2017-09-04
119381,City Hotel,0,188,2017,August,35,31,2,3,2,...,No Deposit,14.0,NaN,0,Transient,99.00,0,0,Check-Out,2017-09-05
119382,City Hotel,0,135,2017,August,35,30,2,4,3,...,No Deposit,7.0,NaN,0,Transient,209.00,0,0,Check-Out,2017-09-05
119383,City Hotel,0,164,2017,August,35,31,2,4,2,...,No Deposit,42.0,NaN,0,Transient,87.60,0,0,Check-Out,2017-09-06
119384,City Hotel,0,21,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,2,Check-Out,2017-09-06
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

function .sample() -> mencari sample

In [81]:
dataframe.sample()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
61556,City Hotel,1,185,2016,December,51,16,1,2,2,...,No Deposit,9.0,NaN,0,Transient,79.2,0,0,Canceled,2016-07-28

.colom -> menampilkan colom saja  pada dataframe

In [82]:
dataframe.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [83]:
df_colom = pd.DataFrame(dataframe.columns, columns=['nama kolom'])
df_colom

                        nama kolom
0                            hotel
1                      is_canceled
2                        lead_time
3                arrival_date_year
4               arrival_date_month
5         arrival_date_week_number
6        arrival_date_day_of_month
7          stays_in_weekend_nights
8             stays_in_week_nights
9                           adults
10                        children
11                          babies
12                            meal
13                         country
14                  market_segment
15            distribution_channel
16               is_repeated_guest
17          previous_cancellations
18  previous_bookings_not_canceled
19              reserved_room_type
20              assigned_room_type
21                 booking_changes
22                    deposit_type
23                           agent
24                         company
25            days_in_waiting_list
26                   customer_type
27                             adr
28     required_car_parking_spaces
29       total_of_special_requests
30              reservation_status
31         reservation_status_date

.dtypes -> untuk melihat tipe data pada suatu data

In [84]:
dataframe.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [85]:
pd.DataFrame(dataframe.dtypes, columns=['Tipe data']).reset_index().rename(columns={'index':'name colom'})

                        name colom Tipe data
0                            hotel    object
1                      is_canceled     int64
2                        lead_time     int64
3                arrival_date_year     int64
4               arrival_date_month    object
5         arrival_date_week_number     int64
6        arrival_date_day_of_month     int64
7          stays_in_weekend_nights     int64
8             stays_in_week_nights     int64
9                           adults     int64
10                        children   float64
11                          babies     int64
12                            meal    object
13                         country    object
14                  market_segment    object
15            distribution_channel    object
16               is_repeated_guest     int64
17          previous_cancellations     int64
18  previous_bookings_not_canceled     int64
19              reserved_room_type    object
20              assigned_room_type    object
21                 booking_changes     int64
22                    deposit_type    object
23                           agent   float64
24                         company   float64
25            days_in_waiting_list     int64
26                   customer_type    object
27                             adr   float64
28     required_car_parking_spaces     int64
29       total_of_special_requests     int64
30              reservation_status    object
31         reservation_status_date    object

In [86]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

.describe() -> menghasilkan kolom statistik

In [87]:
#describe
dataframe.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

## DATA CLEANING
handle missing value

In [88]:
dataframe.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

mencari data kosong dan mengonversinya menjadi persentase

In [89]:
dataframe.isnull().sum() / len(dataframe) *100

hotel                              0.000000
is_canceled                        0.000000
lead_time                          0.000000
arrival_date_year                  0.000000
arrival_date_month                 0.000000
arrival_date_week_number           0.000000
arrival_date_day_of_month          0.000000
stays_in_weekend_nights            0.000000
stays_in_week_nights               0.000000
adults                             0.000000
children                           0.003350
babies                             0.000000
meal                               0.000000
country                            0.408744
market_segment                     0.000000
distribution_channel               0.000000
is_repeated_guest                  0.000000
previous_cancellations             0.000000
previous_bookings_not_canceled     0.000000
reserved_room_type                 0.000000
assigned_room_type                 0.000000
booking_changes                    0.000000
deposit_type                       0.000000
agent                             13.686238
company                           94.306893
days_in_waiting_list               0.000000
customer_type                      0.000000
adr                                0.000000
required_car_parking_spaces        0.000000
total_of_special_requests          0.000000
reservation_status                 0.000000
reservation_status_date            0.000000
dtype: float64

salah satu cara untuk mengisi missing value

In [90]:
dataframe['country'] = dataframe['country'].fillna('unknown')

In [91]:
dataframe.isnull().sum() / len(dataframe) *100

hotel                              0.000000
is_canceled                        0.000000
lead_time                          0.000000
arrival_date_year                  0.000000
arrival_date_month                 0.000000
arrival_date_week_number           0.000000
arrival_date_day_of_month          0.000000
stays_in_weekend_nights            0.000000
stays_in_week_nights               0.000000
adults                             0.000000
children                           0.003350
babies                             0.000000
meal                               0.000000
country                            0.000000
market_segment                     0.000000
distribution_channel               0.000000
is_repeated_guest                  0.000000
previous_cancellations             0.000000
previous_bookings_not_canceled     0.000000
reserved_room_type                 0.000000
assigned_room_type                 0.000000
booking_changes                    0.000000
deposit_type                       0.000000
agent                             13.686238
company                           94.306893
days_in_waiting_list               0.000000
customer_type                      0.000000
adr                                0.000000
required_car_parking_spaces        0.000000
total_of_special_requests          0.000000
reservation_status                 0.000000
reservation_status_date            0.000000
dtype: float64

In [92]:
dataframe['children'] = dataframe['children'].fillna(0)

In [93]:
dataframe.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               0
babies                                 0
meal                                   0
country                                0
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [94]:
dataframe['agent'] = dataframe['agent'].fillna(0)

In [95]:
dataframe.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               0
babies                                 0
meal                                   0
country                                0
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                                  0
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [96]:
# kenapa colom company dihapus karena sebagian besar datanya kosong 
# syarat untuk menghapus colom yaitu data yang kosong > 50%
dataframenew = dataframe.drop(columns=['company'], axis=1)
dataframenew

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,0.0,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,0.0,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,0.0,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,No Deposit,394.0,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,No Deposit,9.0,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,No Deposit,9.0,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,No Deposit,89.0,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,No Deposit,9.0,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [97]:
dataframenew.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

duplicate data

In [98]:
dataframenew.duplicated().sum()

np.int64(32001)

In [99]:
dataframenew[dataframenew.duplicated()].head(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.00,0,1,Check-Out,2015-07-03
22,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,1,No Deposit,250.0,0,Transient,84.67,0,1,Check-Out,2015-07-07
43,Resort Hotel,0,70,2015,July,27,2,2,3,2,...,0,No Deposit,250.0,0,Transient,137.00,0,1,Check-Out,2015-07-07
138,Resort Hotel,1,5,2015,July,28,5,1,0,2,...,0,No Deposit,240.0,0,Transient,97.00,0,0,Canceled,2015-07-01
200,Resort Hotel,0,0,2015,July,28,7,0,1,1,...,0,No Deposit,240.0,0,Transient,109.80,0,3,Check-Out,2015-07-08

In [100]:
dataframenew_drop_duplicate = dataframenew.drop_duplicates()

In [101]:
dataframenew_drop_duplicate.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,0.0,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,0.0,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,0.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.0,0,1,Check-Out,2015-07-03

# aggregation & feature engineering

### aggregation

In [102]:
dataframenew_drop_duplicate.sample(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
108791,City Hotel,0,75,2017,March,13,29,0,4,2,...,0,No Deposit,9.0,0,Transient,98.10,0,2,Check-Out,2017-04-02
20579,Resort Hotel,0,0,2016,February,8,18,0,1,1,...,0,No Deposit,0.0,0,Transient,40.00,0,0,Check-Out,2016-02-19
113630,City Hotel,0,30,2017,June,23,6,0,4,2,...,0,No Deposit,9.0,0,Transient,150.00,0,1,Check-Out,2017-06-10
38176,Resort Hotel,0,4,2017,July,28,10,1,0,1,...,0,No Deposit,314.0,0,Transient,79.54,0,0,Check-Out,2017-07-11
91570,City Hotel,0,92,2016,June,26,20,1,3,2,...,1,No Deposit,11.0,0,Transient,81.95,0,0,Check-Out,2016-06-24

In [103]:
# .groupby()
# .unstack() -> merapikan data(untuk beberapa hal saja yg unstack bisa digunakan)
# .value_counts() -> Menghitung jumlah kemunculan digunakan diaggregation dan harus memiliki 2 feature
dataframenew_drop_duplicate.groupby('hotel')['is_canceled'].value_counts().unstack()

is_canceled       0      1
hotel
City Hotel    37377  16049
Resort Hotel  25987   7976

In [104]:
dataframenew_drop_duplicate.groupby('hotel')['arrival_date_day_of_month'].mean()

hotel
City Hotel      15.755082
Resort Hotel    15.911050
Name: arrival_date_day_of_month, dtype: float64

In [105]:
dataframenew_drop_duplicate.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [106]:
dataframenew_drop_duplicate.groupby(['hotel', 'arrival_date_month'])['adr'].mean().unstack()

arrival_date_month,April,August,December,February,January,July,June,March,May,November,October,September
hotel,,,,,,,,,,,,
City Hotel,117.156250,124.901601,92.717339,88.945304,85.092612,120.055385,123.836342,94.763375,127.847147,89.454120,107.304166,118.549054
Resort Hotel,79.283805,187.566659,65.425827,54.088764,49.131584,156.159300,112.340141,57.569213,80.551101,48.835451,63.676313,100.892331

In [107]:
dataframenew_drop_duplicate.groupby('hotel')['adr'].mean()

hotel
City Hotel      110.985270
Resort Hotel     99.030296
Name: adr, dtype: float64

In [108]:
df_colom

                        nama kolom
0                            hotel
1                      is_canceled
2                        lead_time
3                arrival_date_year
4               arrival_date_month
5         arrival_date_week_number
6        arrival_date_day_of_month
7          stays_in_weekend_nights
8             stays_in_week_nights
9                           adults
10                        children
11                          babies
12                            meal
13                         country
14                  market_segment
15            distribution_channel
16               is_repeated_guest
17          previous_cancellations
18  previous_bookings_not_canceled
19              reserved_room_type
20              assigned_room_type
21                 booking_changes
22                    deposit_type
23                           agent
24                         company
25            days_in_waiting_list
26                   customer_type
27                             adr
28     required_car_parking_spaces
29       total_of_special_requests
30              reservation_status
31         reservation_status_date

In [109]:
dataframenew_drop_duplicate.groupby('stays_in_weekend_nights')['stays_in_week_nights'].value_counts().unstack()

stays_in_week_nights,0,1,2,3,4,5,6,7,8,9,...,26,30,32,33,34,35,40,41,42,50
stays_in_weekend_nights,,,,,,,,,,,,,,,,,,,,,
0,651.0,13216.0,9604.0,7456.0,3495.0,724.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3961.0,4580.0,5993.0,4933.0,2148.0,1040.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1561.0,4390.0,5147.0,3870.0,2231.0,7527.0,783.0,426.0,374.0,78.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,284.0,266.0,372.0,123.0,56.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,88.0,330.0,169.0,116.0,85.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [110]:
dataframenew_drop_duplicate.groupby(['hotel', 'stays_in_week_nights'])['adr'].mean().unstack()

stays_in_week_nights,0,1,2,3,4,5,6,7,8,9,...,26,30,32,33,34,35,40,41,42,50
hotel,,,,,,,,,,,,,,,,,,,,,
City Hotel,99.829096,110.969261,111.633150,113.175246,111.439149,113.147481,113.450864,111.461192,109.572129,112.723333,...,NaN,0.0000,NaN,NaN,0.0,0.0,NaN,8.34,NaN,NaN
Resort Hotel,70.754539,82.337259,99.714237,107.197292,120.191532,109.246854,115.615873,106.774432,111.560961,117.118067,...,0.26,32.1675,42.11,0.0,NaN,NaN,27.145,NaN,110.5,110.0

In [111]:
# .agg & .aggregate -> menerapkan satu atau lebih operasi statistik
dataframenew_drop_duplicate.groupby('customer_type')['lead_time'].agg(['min', 'max', 'mean', 'count'])

                 min  max        mean  count
customer_type
Contract           0  532  109.225231   3139
Group              0  468   51.584559    544
Transient          0  737   73.431274  71982
Transient-Party    0  542  113.057489  11724

### feature engineering

In [112]:
dataframenew_drop_duplicate['total_nights'] = dataframenew_drop_duplicate['stays_in_weekend_nights'] + dataframenew_drop_duplicate['stays_in_week_nights']

C:\Users\user\AppData\Local\Temp\ipykernel_33552\3684095449.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframenew_drop_duplicate['total_nights'] = dataframenew_drop_duplicate['stays_in_weekend_nights'] + dataframenew_drop_duplicate['stays_in_week_nights']

In [113]:
dataframenew_drop_duplicate[['total_nights', 'stays_in_weekend_nights', 'stays_in_week_nights']].sample(5)

       total_nights  stays_in_weekend_nights  stays_in_week_nights
9722              3                        0                     3
16958             2                        0                     2
89375             6                        2                     4
92311             5                        1                     4
98269             7                        2                     5

In [114]:
df_colom = pd.DataFrame(dataframenew_drop_duplicate.columns, columns=['kolom'])

In [115]:
df_colom

                             kolom
0                            hotel
1                      is_canceled
2                        lead_time
3                arrival_date_year
4               arrival_date_month
5         arrival_date_week_number
6        arrival_date_day_of_month
7          stays_in_weekend_nights
8             stays_in_week_nights
9                           adults
10                        children
11                          babies
12                            meal
13                         country
14                  market_segment
15            distribution_channel
16               is_repeated_guest
17          previous_cancellations
18  previous_bookings_not_canceled
19              reserved_room_type
20              assigned_room_type
21                 booking_changes
22                    deposit_type
23                           agent
24            days_in_waiting_list
25                   customer_type
26                             adr
27     required_car_parking_spaces
28       total_of_special_requests
29              reservation_status
30         reservation_status_date
31                    total_nights

In [116]:
dataframenew_drop_duplicate['total_customer'] = dataframenew_drop_duplicate['children'] + dataframenew_drop_duplicate['adults'] + dataframenew_drop_duplicate['babies']

C:\Users\user\AppData\Local\Temp\ipykernel_33552\1738213321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframenew_drop_duplicate['total_customer'] = dataframenew_drop_duplicate['children'] + dataframenew_drop_duplicate['adults'] + dataframenew_drop_duplicate['babies']

In [117]:
# .apply(param) -> berfungsi untuk menempatkan function, param == disitu letak function
dataframenew_drop_duplicate['is_repeated_guest_category']  = dataframenew_drop_duplicate['is_repeated_guest'].apply(lambda x: 'YES' if x == 1 else 'NO')

C:\Users\user\AppData\Local\Temp\ipykernel_33552\2901137990.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframenew_drop_duplicate['is_repeated_guest_category']  = dataframenew_drop_duplicate['is_repeated_guest'].apply(lambda x: 'YES' if x == 1 else 'NO')

In [118]:
dataframenew_drop_duplicate[['is_repeated_guest_category', 'is_repeated_guest']].sample(5)

       is_repeated_guest_category  is_repeated_guest
100268                         NO                  0
118160                         NO                  0
15778                          NO                  0
43281                          NO                  0
37581                          NO                  0

In [119]:
dataframenew_drop_duplicate['reservation_status_date']

0         2015-07-01
1         2015-07-01
2         2015-07-02
3         2015-07-02
4         2015-07-03
             ...
119385    2017-09-06
119386    2017-09-07
119387    2017-09-07
119388    2017-09-07
119389    2017-09-07
Name: reservation_status_date, Length: 87389, dtype: object

In [120]:
# .map()
# boolean -> lambda
# multiclass -> .map()
month_mapping = {
    'January':1,
    'February':2,
    'March':3,
    'April':4,
    'May':5,
    'June':6,
    'July':7,
    'August':8,
    'September':9,
    'October':10,
    'Novemeber':11,
    'December':12
}

dataframenew_drop_duplicate['arrival_date_month'] = dataframenew_drop_duplicate['arrival_date_month'].map(month_mapping)

C:\Users\user\AppData\Local\Temp\ipykernel_33552\2888794339.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframenew_drop_duplicate['arrival_date_month'] = dataframenew_drop_duplicate['arrival_date_month'].map(month_mapping)

In [121]:
dataframenew_drop_duplicate['arrival_date_month']

0         7.0
1         7.0
2         7.0
3         7.0
4         7.0
         ...
119385    8.0
119386    8.0
119387    8.0
119388    8.0
119389    8.0
Name: arrival_date_month, Length: 87389, dtype: float64

In [122]:
#mengubah tipedata object/string menjadi tipedata date & time
dataframenew_drop_duplicate['reservation_status_date'] = pd.to_datetime(dataframenew_drop_duplicate['reservation_status_date'])

C:\Users\user\AppData\Local\Temp\ipykernel_33552\2922725214.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframenew_drop_duplicate['reservation_status_date'] = pd.to_datetime(dataframenew_drop_duplicate['reservation_status_date'])

In [123]:
dataframenew_drop_duplicate['reservation_status_date']

0        2015-07-01
1        2015-07-01
2        2015-07-02
3        2015-07-02
4        2015-07-03
            ...
119385   2017-09-06
119386   2017-09-07
119387   2017-09-07
119388   2017-09-07
119389   2017-09-07
Name: reservation_status_date, Length: 87389, dtype: datetime64[ns]

# Advanced Data Preprocessing

In [124]:
dataframenew_drop_duplicate.dtypes

hotel                                     object
is_canceled                                int64
lead_time                                  int64
arrival_date_year                          int64
arrival_date_month                       float64
arrival_date_week_number                   int64
arrival_date_day_of_month                  int64
stays_in_weekend_nights                    int64
stays_in_week_nights                       int64
adults                                     int64
children                                 float64
babies                                     int64
meal                                      object
country                                   object
market_segment                            object
distribution_channel                      object
is_repeated_guest                          int64
previous_cancellations                     int64
previous_bookings_not_canceled             int64
reserved_room_type                        object
assigned_room_type                        object
booking_changes                            int64
deposit_type                              object
agent                                    float64
days_in_waiting_list                       int64
customer_type                             object
adr                                      float64
required_car_parking_spaces                int64
total_of_special_requests                  int64
reservation_status                        object
reservation_status_date           datetime64[ns]
total_nights                               int64
total_customer                           float64
is_repeated_guest_category                object
dtype: object

### interquartile range

In [125]:
numerik_colm = dataframenew_drop_duplicate.select_dtypes(include=['int64', 'float64']).columns.to_list()

In [126]:
# function remove_outliers_iqr = berfungsi untuk memisahkan outliers dari data mean
def remove_outliers_iqr(df, columns, x):
    df_clean = df.copy()
    for col in columns:
        q1 = df_clean[col].quantile(0.25)
        q3 = df_clean[col].quantile(0.75)
        iqr = q3 - q1
        lower_bound = q1 - x * iqr # 1.5
        upper_bound = q3 + x * iqr # 1.5
        df_clean = df_clean[(df_clean[col] >= lower_bound) & (df_clean[col] <= upper_bound)]
    return df_clean

In [127]:
df_no_outliar = remove_outliers_iqr(dataframenew_drop_duplicate, numerik_colm, 1.5)
print(df_no_outliar)

               hotel  is_canceled  lead_time  arrival_date_year  \
4       Resort Hotel            0         14               2015
6       Resort Hotel            0          0               2015
7       Resort Hotel            0          9               2015
8       Resort Hotel            1         85               2015
9       Resort Hotel            1         75               2015
...              ...          ...        ...                ...
119381    City Hotel            0        188               2017
119383    City Hotel            0        164               2017
119384    City Hotel            0         21               2017
119385    City Hotel            0         23               2017
119388    City Hotel            0        109               2017

        arrival_date_month  arrival_date_week_number  \
4                      7.0                        27
6                      7.0                        27
7                      7.0                        27
8                      7.0                        27
9                      7.0                        27
...                    ...                       ...
119381                 8.0                        35
119383                 8.0                        35
119384                 8.0                        35
119385                 8.0                        35
119388                 8.0                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
4                               1                        0
6                               1                        0
7                               1                        0
8                               1                        0
9                               1                        0
...                           ...                      ...
119381                         31                        2
119383                         31                        2
119384                         30                        2
119385                         30                        2
119388                         31                        2

        stays_in_week_nights  adults  ...  days_in_waiting_list  \
4                          2       2  ...                     0
6                          2       2  ...                     0
7                          2       2  ...                     0
8                          3       2  ...                     0
9                          3       2  ...                     0
...                      ...     ...  ...                   ...
119381                     3       2  ...                     0
119383                     4       2  ...                     0
119384                     5       2  ...                     0
119385                     5       2  ...                     0
119388                     5       2  ...                     0

        customer_type     adr required_car_parking_spaces  \
4           Transient   98.00                           0
6           Transient  107.00                           0
7           Transient  103.00                           0
8           Transient   82.00                           0
9           Transient  105.50                           0
...               ...     ...                         ...
119381      Transient   99.00                           0
119383      Transient   87.60                           0
119384      Transient   96.14                           0
119385      Transient   96.14                           0
119388      Transient  104.40                           0

       total_of_special_requests reservation_status  reservation_status_date  \
4                              1          Check-Out               2015-07-03
6                              0          Check-Out               2015-07-03
7                              1          Check-Out               2015-07-03
8                              1           Canceled               2015-05-06
9                              0           Canceled               2015-04-22
...                          ...                ...                      ...
119381                         0          Check-Out               2017-09-05
119383                         0          Check-Out               2017-09-06
119384                         2          Check-Out               2017-09-06
119385                         0          Check-Out               2017-09-06
119388                         0          Check-Out               2017-09-07

        total_nights  total_customer is_repeated_guest_category
4                  2             2.0                         NO
6                  2             2.0                         NO
7                  2             2.0                         NO
8                  3             2.0                         NO
9                  3             2.0                         NO
...              ...             ...                        ...
119381             5             2.0                         NO
119383             6             2.0                         NO
119384             7             2.0                         NO
119385             7             2.0                         NO
119388             7             2.0                         NO

[35610 rows x 34 columns]

In [128]:
df_no_outliar

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_nights,total_customer,is_repeated_guest_category
4,Resort Hotel,0,14,2015,7.0,27,1,0,2,2,...,0,Transient,98.00,0,1,Check-Out,2015-07-03,2,2.0,NO
6,Resort Hotel,0,0,2015,7.0,27,1,0,2,2,...,0,Transient,107.00,0,0,Check-Out,2015-07-03,2,2.0,NO
7,Resort Hotel,0,9,2015,7.0,27,1,0,2,2,...,0,Transient,103.00,0,1,Check-Out,2015-07-03,2,2.0,NO
8,Resort Hotel,1,85,2015,7.0,27,1,0,3,2,...,0,Transient,82.00,0,1,Canceled,2015-05-06,3,2.0,NO
9,Resort Hotel,1,75,2015,7.0,27,1,0,3,2,...,0,Transient,105.50,0,0,Canceled,2015-04-22,3,2.0,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119381,City Hotel,0,188,2017,8.0,35,31,2,3,2,...,0,Transient,99.00,0,0,Check-Out,2017-09-05,5,2.0,NO
119383,City Hotel,0,164,2017,8.0,35,31,2,4,2,...,0,Transient,87.60,0,0,Check-Out,2017-09-06,6,2.0,NO
119384,City Hotel,0,21,2017,8.0,35,30,2,5,2,...,0,Transient,96.14,0,2,Check-Out,2017-09-06,7,2.0,NO
119385,City Hotel,0,23,2017,8.0,35,30,2,5,2,...,0,Transient,96.14,0,0,Check-Out,2017-09-06,7,2.0,NO
119388,City Hotel,0,109,2017,8.0,35,31,2,5,2,...,0,Transient,104.40,0,0,Check-Out,2017-09-07,7,2.0,NO

## mix max scaling

In [129]:
from sklearn.preprocessing import MinMaxScaler

In [130]:
df_scaling = df_no_outliar.copy()
df_scaling_outlier = dataframenew_drop_duplicate.copy()

In [131]:
min_max_scale = MinMaxScaler()

method .fit_transform pada libary sklearn.preprocessing = Menghitung parameter yang diperlukan dan menerapkan transformasi pada data yang sudah dihitung.

In [132]:
df_scaling_outlier[numerik_colm] = min_max_scale.fit_transform(dataframenew_drop_duplicate[numerik_colm])

In [133]:
df_scaling[numerik_colm] = min_max_scale.fit_transform(df_no_outliar[numerik_colm])

In [134]:
df_scaling

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_nights,total_customer,is_repeated_guest_category
4,Resort Hotel,0.0,0.047297,0.0,0.545455,0.500000,0.000000,0.0,0.4,0.0,...,0.0,Transient,0.479218,0.0,0.5,Check-Out,2015-07-03,0.285714,0.0,NO
6,Resort Hotel,0.0,0.000000,0.0,0.545455,0.500000,0.000000,0.0,0.4,0.0,...,0.0,Transient,0.523227,0.0,0.0,Check-Out,2015-07-03,0.285714,0.0,NO
7,Resort Hotel,0.0,0.030405,0.0,0.545455,0.500000,0.000000,0.0,0.4,0.0,...,0.0,Transient,0.503667,0.0,0.5,Check-Out,2015-07-03,0.285714,0.0,NO
8,Resort Hotel,1.0,0.287162,0.0,0.545455,0.500000,0.000000,0.0,0.6,0.0,...,0.0,Transient,0.400978,0.0,0.5,Canceled,2015-05-06,0.428571,0.0,NO
9,Resort Hotel,1.0,0.253378,0.0,0.545455,0.500000,0.000000,0.0,0.6,0.0,...,0.0,Transient,0.515892,0.0,0.0,Canceled,2015-04-22,0.428571,0.0,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119381,City Hotel,0.0,0.635135,1.0,0.636364,0.653846,1.000000,1.0,0.6,0.0,...,0.0,Transient,0.484108,0.0,0.0,Check-Out,2017-09-05,0.714286,0.0,NO
119383,City Hotel,0.0,0.554054,1.0,0.636364,0.653846,1.000000,1.0,0.8,0.0,...,0.0,Transient,0.428362,0.0,0.0,Check-Out,2017-09-06,0.857143,0.0,NO
119384,City Hotel,0.0,0.070946,1.0,0.636364,0.653846,0.966667,1.0,1.0,0.0,...,0.0,Transient,0.470122,0.0,1.0,Check-Out,2017-09-06,1.000000,0.0,NO
119385,City Hotel,0.0,0.077703,1.0,0.636364,0.653846,0.966667,1.0,1.0,0.0,...,0.0,Transient,0.470122,0.0,0.0,Check-Out,2017-09-06,1.000000,0.0,NO
119388,City Hotel,0.0,0.368243,1.0,0.636364,0.653846,1.000000,1.0,1.0,0.0,...,0.0,Transient,0.510513,0.0,0.0,Check-Out,2017-09-07,1.000000,0.0,NO

### standard scaling

In [135]:
from sklearn.preprocessing import StandardScaler

In [136]:
std_scaled = StandardScaler()

In [137]:
df_std = df_no_outliar.copy()

In [138]:
df_std[numerik_colm] = std_scaled.fit_transform(df_no_outliar[numerik_colm])

In [139]:
df_std

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_nights,total_customer,is_repeated_guest_category
4,Resort Hotel,-0.675649,-0.876340,-1.830374,0.304003,0.138818,-1.666996,-1.125368,-0.293396,0.0,...,0.0,Transient,-0.066545,0.0,0.511745,Check-Out,2015-07-03,-0.758171,0.0,NO
6,Resort Hotel,-0.675649,-1.072331,-1.830374,0.304003,0.138818,-1.666996,-1.125368,-0.293396,0.0,...,0.0,Transient,0.180354,0.0,-0.911390,Check-Out,2015-07-03,-0.758171,0.0,NO
7,Resort Hotel,-0.675649,-0.946337,-1.830374,0.304003,0.138818,-1.666996,-1.125368,-0.293396,0.0,...,0.0,Transient,0.070621,0.0,0.511745,Check-Out,2015-07-03,-0.758171,0.0,NO
8,Resort Hotel,1.480059,0.117614,-1.830374,0.304003,0.138818,-1.666996,-1.125368,0.404196,0.0,...,0.0,Transient,-0.505477,0.0,0.511745,Canceled,2015-05-06,-0.205784,0.0,NO
9,Resort Hotel,1.480059,-0.022380,-1.830374,0.304003,0.138818,-1.666996,-1.125368,0.404196,0.0,...,0.0,Transient,0.139204,0.0,-0.911390,Canceled,2015-04-22,-0.205784,0.0,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119381,City Hotel,-0.675649,1.559548,1.107233,0.642609,0.751436,1.706002,1.238970,0.404196,0.0,...,0.0,Transient,-0.039112,0.0,-0.911390,Check-Out,2017-09-05,0.898990,0.0,NO
119383,City Hotel,-0.675649,1.223563,1.107233,0.642609,0.751436,1.706002,1.238970,1.101789,0.0,...,0.0,Transient,-0.351851,0.0,-0.911390,Check-Out,2017-09-06,1.451376,0.0,NO
119384,City Hotel,-0.675649,-0.778345,1.107233,0.642609,0.751436,1.593568,1.238970,1.799382,0.0,...,0.0,Transient,-0.117571,0.0,1.934881,Check-Out,2017-09-06,2.003763,0.0,NO
119385,City Hotel,-0.675649,-0.750346,1.107233,0.642609,0.751436,1.593568,1.238970,1.799382,0.0,...,0.0,Transient,-0.117571,0.0,-0.911390,Check-Out,2017-09-06,2.003763,0.0,NO
119388,City Hotel,-0.675649,0.453598,1.107233,0.642609,0.751436,1.706002,1.238970,1.799382,0.0,...,0.0,Transient,0.109028,0.0,-0.911390,Check-Out,2017-09-07,2.003763,0.0,NO

### robust scaling

In [140]:
from sklearn.preprocessing import RobustScaler

In [141]:
df_robust = dataframenew_drop_duplicate.copy()

In [142]:
m_robust = RobustScaler()

In [143]:
df_robust[numerik_colm] = m_robust.fit_transform(dataframenew_drop_duplicate[numerik_colm])

In [144]:
df_robust.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,previous_bookings_not_canceled,booking_changes,agent,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,reservation_status_date,total_nights,total_customer
count,87389.000000,87389.000000,87389.000000,82396.000000,87389.000000,87389.000000,87389.000000,87389.000000,87389.000000,87389.000000,...,87389.000000,87389.000000,87389.000000,87389.000000,87389.000000,87389.000000,87389.000000,87389,87389.000000,87389.000000
mean,0.274920,0.271028,0.210313,0.050339,-0.007726,-0.012287,0.002661,0.208516,-0.124158,0.138644,...,0.184005,0.271625,0.320036,0.749625,0.132888,0.084233,0.698589,2016-08-31 03:45:31.112611328,0.210290,0.025312
min,0.000000,-0.429825,-1.000000,-1.250000,-1.238095,-1.000000,-0.500000,-0.666667,-2.000000,0.000000,...,0.000000,0.000000,-0.040000,0.000000,-1.685161,0.000000,0.000000,2014-10-17 00:00:00,-1.000000,-2.000000
25%,0.000000,-0.333333,0.000000,-0.500000,-0.523810,-0.533333,-0.500000,-0.333333,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,-0.420968,0.000000,0.000000,2016-03-18 00:00:00,-0.333333,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2016-09-08 00:00:00,0.000000,0.000000
75%,1.000000,0.666667,1.000000,0.500000,0.476190,0.466667,0.500000,0.666667,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.579032,0.000000,1.000000,2017-03-05 00:00:00,0.666667,0.000000
max,1.000000,6.035088,1.000000,1.500000,1.238095,1.000000,9.000000,16.000000,53.000000,10.000000,...,72.000000,21.000000,2.337778,391.000000,85.514516,8.000000,5.000000,2017-09-14 00:00:00,22.000000,53.000000
std,0.446477,0.754853,0.686094,0.744158,0.651160,0.589016,0.515967,0.684530,0.626490,0.455888,...,1.731962,0.727270,0.488653,10.016130,0.887308,0.281544,0.831950,NaN,0.921153,0.794313

In [145]:
# .corr()
df_no_outliar[numerik_colm].corr()

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,total_nights,total_customer
is_canceled,1.000000,0.159569,0.110126,-0.004275,-0.005631,0.012524,0.006174,0.046278,NaN,NaN,...,NaN,NaN,NaN,0.002574,NaN,0.120924,NaN,-0.135828,0.039530,NaN
lead_time,0.159569,1.000000,0.142712,0.129894,0.126013,0.019577,0.188629,0.303182,NaN,NaN,...,NaN,NaN,NaN,0.047465,NaN,-0.023971,NaN,0.014463,0.328214,NaN
arrival_date_year,0.110126,0.142712,1.000000,-0.484982,-0.501536,-0.021237,-0.009743,0.000523,NaN,NaN,...,NaN,NaN,NaN,-0.037850,NaN,0.143617,NaN,0.038106,-0.004139,NaN
arrival_date_month,-0.004275,0.129894,-0.484982,1.000000,0.994487,0.013699,0.042995,0.036440,NaN,NaN,...,NaN,NaN,NaN,0.010037,NaN,0.189759,NaN,0.051349,0.048945,NaN
arrival_date_week_number,-0.005631,0.126013,-0.501536,0.994487,1.000000,0.111813,0.045509,0.035859,NaN,NaN,...,NaN,NaN,NaN,0.011805,NaN,0.182982,NaN,0.049261,0.049660,NaN
arrival_date_day_of_month,0.012524,0.019577,-0.021237,0.013699,0.111813,1.000000,0.001292,0.004641,NaN,NaN,...,NaN,NaN,NaN,0.025835,NaN,0.018793,NaN,0.004614,0.004278,NaN
stays_in_weekend_nights,0.006174,0.188629,-0.009743,0.042995,0.045509,0.001292,1.000000,0.208973,NaN,NaN,...,NaN,NaN,NaN,0.103470,NaN,-0.030860,NaN,-0.005871,0.632740,NaN
stays_in_week_nights,0.046278,0.303182,0.000523,0.036440,0.035859,0.004641,0.208973,1.000000,NaN,NaN,...,NaN,NaN,NaN,0.150773,NaN,0.008359,NaN,0.005899,0.889493,NaN
adults,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
children,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
babies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
is_repeated_guest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
previous_cancellations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
previous_bookings_not_canceled,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
booking_changes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
agent,0.002574,0.047465,-0.037850,0.010037,0.011805,0.025835,0.103470,0.150773,NaN,NaN,...,NaN,NaN,NaN,1.000000,NaN,-0.130055,NaN,0.026939,0.167737,NaN
days_in_waiting_list,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
adr,0.120924,-0.023971,0.143617,0.189759,0.182982,0.018793,-0.030860,0.008359,NaN,NaN,...,NaN,NaN,NaN,-0.130055,NaN,1.000000,NaN,0.116438,-0.007800,NaN
required_car_parking_spaces,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_of_special_requests,-0.135828,0.014463,0.038106,0.051349,0.049261,0.004614,-0.005871,0.005899,NaN,NaN,...,NaN,NaN,NaN,0.026939,NaN,0.116438,NaN,1.000000,0.001928,NaN
total_nights,0.039530,0.328214,-0.004139,0.048945,0.049660,0.004278,0.632740,0.889493,NaN,NaN,...,NaN,NaN,NaN,0.167737,NaN,-0.007800,NaN,0.001928,1.000000,NaN
total_customer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
dataframenew_drop_duplicate

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,total_nights,total_customer,is_repeated_guest_category
0,Resort Hotel,0,342,2015,7.0,27,1,0,0,2,...,0,Transient,0.00,0,0,Check-Out,2015-07-01,0,2.0,NO
1,Resort Hotel,0,737,2015,7.0,27,1,0,0,2,...,0,Transient,0.00,0,0,Check-Out,2015-07-01,0,2.0,NO
2,Resort Hotel,0,7,2015,7.0,27,1,0,1,1,...,0,Transient,75.00,0,0,Check-Out,2015-07-02,1,1.0,NO
3,Resort Hotel,0,13,2015,7.0,27,1,0,1,1,...,0,Transient,75.00,0,0,Check-Out,2015-07-02,1,1.0,NO
4,Resort Hotel,0,14,2015,7.0,27,1,0,2,2,...,0,Transient,98.00,0,1,Check-Out,2015-07-03,2,2.0,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,8.0,35,30,2,5,2,...,0,Transient,96.14,0,0,Check-Out,2017-09-06,7,2.0,NO
119386,City Hotel,0,102,2017,8.0,35,31,2,5,3,...,0,Transient,225.43,0,2,Check-Out,2017-09-07,7,3.0,NO
119387,City Hotel,0,34,2017,8.0,35,31,2,5,2,...,0,Transient,157.71,0,4,Check-Out,2017-09-07,7,2.0,NO
119388,City Hotel,0,109,2017,8.0,35,31,2,5,2,...,0,Transient,104.40,0,0,Check-Out,2017-09-07,7,2.0,NO
119389,City Hotel,0,205,2017,8.0,35,29,2,7,2,...,0,Transient,151.20,0,2,Check-Out,2017-09-07,9,2.0,NO